:root{
    --main:#fbbeaf;
    --main_shadow:#f38e75;
    --icon:#212529;
    --icon_hover:#9ea1a55c;
    --bar_hover: #7575757a;
    --btn: #fff;
    --arrow: #fff;
    --watermark_icon: #e2dfdf;
    --watermark: #9ea1a5; 
    --overlay: rgba(0,0,0,0.5);
    --note_bg: whitesmoke;
    --note_shadow: rgba(0,0,0,0.1);
    --tool_border: black;
    --tool_icon:#fff;
    --pen_bg:#2ecc71;
    --del_bg:#e74c3c;
    --tool_filter:rgb(219, 218, 218);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
#header{
    background-color: var(--main);
    position: fixed;
    z-index: 11;
    box-shadow: 0 0 6px -2px #fff;
}
#main_head, #main_head a{
    width: 100vw;
    display: flex;
    align-items: center;
    padding:3px;
}
#main_head a{
    text-decoration: none;
}
.fa-bars, .fa-edit{
    font-size: 22px;
    color: var(--icon);
    text-shadow: 0 1px 1px var(--main_shadow);
    cursor: pointer;
}
.fa-bars{
    padding: 8px 10px;
    margin: 0 8px;
}
.fa-edit{
    padding: 9px 1px;
}
#title{
    color: var(--icon);
    text-shadow: 0 2px 2px var(--main_shadow);
    font-size: 30px;
    font-weight: 500;
    padding-left: 3px;
    cursor: pointer;
}
.fa-bars:hover{
    opacity: 0.7;
    border-radius: 50%;
    background-color: var(--bar_hover);
    text-shadow: none;
}
#delete_div{
    position: fixed;
    width: 100%;
    margin-top: 52px;
    display: none;
    padding: 10px;
    font-size: 20px;
    z-index: 3;
    background-color: var(--watermark_icon);
    border-bottom: 1px dashed var(--tool_border);
    color: var(--icon);
}
#selNote{
    padding: 5px;
}
.delbtn{
    margin: 3px;
    padding: 2px;
    border: 1px solid var(--tool_border);
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#container{
    display: flex;
}
#menu{
    display: grid;
    position: fixed;
    z-index: 10;
    top: 52px;
    width: auto;
    height: 93vh;
    background-color: var(--btn);
}
#menu_col{
    height: 180px;
    width: 68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.option{
    display: flex;
    border-radius: 50px;
}
.option i{
    margin: 0 5px;
    font-size: 20px;
    color: var(--icon);
    padding: 19px 20px;
}
.icon_title{
    font-size: 18px;
    width: auto;
    color: var(--icon);
    padding: 19px 15px 0;
}
.option:hover{
    background-color: var(--icon_hover);
    cursor: pointer;
}
#notes{
    width: 100%;
    place-items: center;
    transition: ease 0.15s;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay);
    display: none;
}
#btn-div{
    width: 100%;
    height: 70px;
    margin-top: 50px;
    display: grid;
    place-items: center;
}
#btn{
    border: none;
    outline: none;
    background-color:transparent;
    cursor: pointer;
    padding: 8px 8px 6px 0;
    transition: 0.125s;
}
#btn_icon{
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 50%;
    background-color: var(--main);
    color: var(--arrow);
}
#add_note{
    padding: 5px 3px 5px 0;
    font-size: 15px;
    color: var(--icon);
}
#btn:hover {
    color: var(--btn);
    background-color: var(--main);
    border-radius: 25px;
}
#note_container{
    height: auto;
    display: grid;
    place-items: center;
}
#watermark{
    margin: 192px auto;
}
#note_container .fa-comment-alt{
    color: var(--watermark_icon);
    display: grid;
    place-items: center;
    font-size: 100px;
    padding-bottom: 50px;
}
#note_container p{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    color: var(--watermark);
}
.note_overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    background-color: var(--overlay);
    z-index: 2;
}
.tick{
    font-size: 20px;
    height: 16px;
    margin:10px;
    color: black;
    cursor: pointer;
}
.selected .note_overlay .tick{
    color: lightblue;
}
.note{
    position: relative;
    background-color: var(--note_bg);
    float: left;
    width: 79%;
    margin: 10px 10px 10px 78px;
    height: 200px;
    overflow-y: scroll;
    box-shadow: inset 1px 1px 0 var(--note_shadow),
    inset 0 -1px 0 var(--note_shadow);
}
.note .tools{
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    border-bottom: 1px dashed var(--tool_border);
}
.note .tools button{
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--tool_icon);
    cursor: pointer;
    font-size: 17px;
    margin-left: 10px;
}
.note textarea{
    background-color: var(--note_bg);
    outline: none;
    color: var(--icon);
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 70%;
    width: 100%;
    padding: 20px;
}
.fa-pen,
.fa-minus-circle{
    color: var(--tool_icon);
    padding: 8px;
    background-color: var(--pen_bg);
    border-radius: 50%;
}
.fa-minus-circle{
    background-color: var(--del_bg);
}
.fa-pen:hover{
    background-color: var(--tool_icon);
    color: var(--pen_bg);
    filter: drop-shadow(0px 10px 8px var(--tool_filter));
}
.fa-minus-circle:hover{
    background-color: var(--tool_icon);
    color: var(--del_bg);
    filter: drop-shadow(0px 10px 8px var(--tool_filter));
}
.main{
    padding: 20px;
    height: 68%;
    width: 100%;
    margin-bottom: 10px;
    word-break: break-word;
    color: var(--icon);
}
.hidden{
    display: none;
}
footer{
    font-size: 15px;
    color: var(--icon);
    position: fixed;
    right: 1%;
    bottom: 0;
    background-color: var(--btn);
}
footer span{
    font-size: 13px;
}
.dark-mode{
    --main: #464444;
    --main_shadow: #7d7d7d;
    --icon:#C6CCD2;
    --arrow:#C6CCD2;
    --icon_hover:#6b6b6b;
    --bar_hover: #B8B8B8;
    --btn: #464444;
    --watermark_icon: #757474;
    --watermark: #818284; 
    --overlay: rgba(204,204,204,0.5);
    --note_bg: #464444;
    --note_shadow: rgba(204,204,204,0.1);
    --tool_border: #C6CCD2;
    --tool_icon:#464444;
    --pen_bg:#8BE5B0;
    --del_bg:#F29C92;
    --tool_filter:rgb(93, 91, 91);
    background-color: #535353;
}
@media only screen and (min-width:450px){
    .fa-bars{
        margin: 0 12px;
    }
    .fa-bars, .fa-edit{
        font-size: 25px;
    }
    #title{
        font-size: 35px;
    }
    .option i {
        font-size: 23px;
    }
    .icon_title {
        font-size: 19px;
        padding: 19px 10px 0;
    }
    #btn_icon{
        font-size: 22px;
    }
    #add_note{
        font-size: 18px;
    }
}
@media only screen and (min-width:700px){
    #btn_icon {
        font-size: 25px;
    }
    #add_note {
        font-size: 22px;
    }
    #menu{
        height: 94.5vh;
    }
    .main{
        font-size: 22px;
    }
    .note textarea{
        font-size: 25px;
    }
    footer{
        font-size: 20px;
    }
    footer span{
        font-size: 15px;
    }
}
@media only screen and (min-width:1000px){
    .fa-bars{
        margin: 0 5px;
    }
    .fa-bars, .fa-edit{
        font-size: 22px;
    }
    #title{
        font-size: 25px;
    }
    .option i {
        font-size: 20px;
    }
    .icon_title {
        font-size: 17px;
        padding: 20px 10px 0;
    }
    #btn_icon{
        font-size: 16px;
    }
    #add_note{
        font-size: 17px;
    }
    #menu{
        top: 53px;
    }
    #btn-div {
        margin-top: 53px;
    }
    footer{
        font-size: 12px;
    }
    #note_container{
        display: block;
        padding-left: 68px;
    }
    .note{
        width: 23%;
        margin-left: 5px;
        height: 150px;
    }
    .note .tools{
        padding: 5px;
    }
    .note .tools button{
        font-size: 13px;
    }
    .fa-pen, .fa-minus-circle {
        padding: 7px;
    }
    .main{
        font-size: 16px;
    }
    .note textarea{
        font-size: 18px;
    }
    #delete_div {
        margin-top: 52px;
        font-size: 18px;
    }
}